@import "../../sass/_colors.scss";
@import "../../sass/_mixins.scss";

.auth {
  margin: 3rem auto;
  width: 22rem;
  height: 24rem;
  border-radius: 11px;
  background: $white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
  & h1 {
    @include titleMedium;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 15rem;
    gap: 1.5rem;
  }

  & input {
    height: 1.5rem;
  }

  & button {
    margin: 0.2rem auto;
  }

  &__signup-btn,
  &__login {
    @include btn;
  }

  &__login-btn {
    @include btnOp;
  }

  &__password-text {
    margin: 0;
  }

  &__signup-text {
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $pear;
    cursor: pointer;
    margin: 2rem 0 0 0;
  }

  &__signup-text:hover {
    color: $night;
  }
}

@media only screen and (max-width: 500px) {
  .auth {
    &__form {
      gap: 1rem;
      display: flex;
      text-align: center;
    }

    &__signup-btn,
    &__login-btn,
    &__login {
      width: 12rem;
      height: 2.5rem;
    }

    & input {
      height: 2.5rem;
    }

    &__signup-btn {
      background: $pear;
      color: $white;
    }

    &__password-text {
      font-size: 11px;
      color: $pear;
    }
  }
}
