@import "../../sass/_colors.scss";
@import "../../sass/_mixins.scss";

.update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include text;

  &__title {
    text-transform: uppercase;
  }

  &__form {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &__form select,
  input {
    @include input;
    @include text;
    margin: auto;
    margin-bottom: 1rem;
    text-indent: 4px;
  }

  & label {
    text-align: center;
  }

  &__btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__add-btn {
    @include btn;
  }

  &__remove-btn {
    @include btnOp;
  }
}
