@import "../../sass/_colors.scss";
@import "../../sass/_mixins.scss";

.home {
  margin-top: 1rem;
  &__profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    border-radius: 0.7rem;
    border: 1px solid #d9d9d9;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 18rem;
    width: 13rem;
    height: 2rem;
    margin: 0 1rem 1rem auto;
    padding: 0.2rem 0.5rem;
  }
  &__profile-icon {
    width: 15%;
  }
  &__auth-user {
    display: flex;
    font-weight: 200;
    font-size: 14px;
    text-align: end;
    margin: 0.5rem;
  }

  &__hero {
    position: relative;
  }

  &__hero-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include HeroTitle;
    margin: auto;
  }

  &__hero-title span {
    @include HeroTitle;
    color: $pear;
  }

  &__img-container {
    // position: absolute;
    // bottom: -10%;
    // right: -20%;
    // z-index: -1;

    width: 450px;
    margin-left: auto;
  }

  &__pear-img {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-top: auto;
  }
}
