@import "./sass/_colors.scss";
@import "./sass/_mixins.scss";
// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }
body {
  padding: 0%;
  margin: 0%;
}

.app {
  &__topbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0.8rem;
  }

  &__topbar-login {
    margin-left: auto;
  }

  &__navbar-container {
    display: flex;
    margin: 0.5rem 1rem;
    justify-content: space-between;
  }

  &__navbar-link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  & a {
    @include text;
    color: $pear;
    text-decoration: none;
  }

  & a:hover {
    color: $pearLight;
    font-weight: 600;
  }

  &__logout-btn {
    margin-left: auto;
    @include btn;
  }
}
