@import "./sass/_colors.scss";
@import "./sass/_mixins.scss";

body {
  padding: 0%;
  margin: 0%;
}

.app {
  height: 100vh;
  &__logo {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0.8rem;
  }

  &__logo-login {
    margin-left: auto;
  }

  &__navbar-container {
    display: flex;
    margin: 0.5rem;
    justify-content: space-between;
  }

  &__home-navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.5rem;
  }

  &__navbar {
    display: contents;
  }

  & a {
    @include text;
    color: $pear;
    text-decoration: none;
  }

  & a:hover {
    color: $pearLight;
    font-weight: 600;
  }

  &__logout-btn {
    margin-left: auto;
    @include btn;
  }
}

@media only screen and (max-width: 700px) {
  .app {
    &__navbar {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }
}
