@import "../../sass/_colors.scss";
@import "../../sass/_mixins.scss";

.stock {
  display: flex;
  flex-direction: column;

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 200;
    margin: 0 auto;
    letter-spacing: 2px;
    @include titleBig;
  }
  &__container {
    margin: auto;
    width: 800px;
  }

  &__section {
    display: flex;
  }

  &__warehouse-title {
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;
    margin: 0;
    @include titleMedium;
    font-weight: 600;
  }

  &__products-container {
    display: flex;
    justify-content: center;
    margin: 0 0 1.5rem;
  }

  &__product-box {
    margin: 0 1rem;
    @include productBox;
    // height: 70px;
    // border: 1px solid $pear;
    // border-radius: 4px;
  }

  &__product-text {
    padding: 0.4rem;
  }

  &__product-name,
  &__product-quantity {
    display: flex;
    margin: 0%;
    @include text;
    // padding: 0.2rem 0.5rem;
    // margin: 0.2rem 0;
  }
  &__product-name {
    justify-content: flex-start;
  }
  &__product-quantity {
    justify-content: flex-end;
    margin-top: 0.4rem;
  }
}
