@import "../../sass/_colors.scss";
@import "../../sass/_mixins.scss";

.stock {
  display: flex;
  flex-direction: column;

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 2px;
    @include titleBig;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__warehouse-title {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    @include titleMedium;
    font-weight: 600;
  }

  &__products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__section {
    width: 80%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__section-top {
    display: flex;
    flex-direction: row;
  }

  &__delete {
    width: 15px;
    padding: 0 0 0 1rem;
  }
  &__product-box {
    @include productBox;
  }

  &__product-text {
    padding: 0.4rem;
  }

  &__product-name,
  &__product-quantity {
    display: flex;
    margin: 0%;
    @include text;
  }

  &__product-name {
    justify-content: flex-start;
  }

  &__product-quantity {
    justify-content: flex-end;
    margin-top: 0.4rem;
  }
}

@media only screen and (max-width: 700px) {
  .stock {
    &__products-container {
      flex-direction: column;
    }
    &__section-top {
      justify-content: center;
    }
    &__product-box {
      margin: auto;
      height: 3rem;
      width: 12rem;
      background: #fdfdfc;
    }

    .stock__product-quantity {
      margin: 0;
    }

    &__product-text {
      padding: 0.1rem 0.4rem;
    }
  }
}
